/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/backups
/storage/pdf
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env_*
.env-*
commands_XN.txt
commands_HUB.txt
Screenshot at 2018-02-07.png
routes.txt
composer.json_dist*
composer.lock_dist*
/database/backups
/routes/abcc_dist.php
