/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/backups
/storage/pdf
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env*
commands_XN.txt
commands_HUB.txt
Screenshot at 2019-10-19 11:49:09.png
routes.txt
composer.json_dist*
composer.lock_dist*
/database/backups
/routes/abcc_dist.php

remove-pkg.txt

*.php_dist

composer.lock*

!.env.abillander
!.env.example
